@model CursoMVC.Models.Inscripcion

@{
    ViewData["Title"] = "Create";
}

<h1>AÑADIR INSCRIPCIÓN</h1>

<hr />
<div class="jumbotron" style="background-color:whitesmoke; margin-left:10px;padding-left:15px;padding-top:10px;">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CursoID" class="control-label"></label>
                    <select asp-for="CursoID" class="form-control" asp-items="ViewBag.CursoID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="AlumnoID" class="control-label"></label>
                    <select asp-for="AlumnoID" class="form-control" asp-items="ViewBag.AlumnoID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Nota" class="control-label"></label>
                    <p class="jumbotron"> DEBE USAR : A, B, C, D, F</p>
                    <input asp-for="Nota" class="form-control" />
                    <span asp-validation-for="Nota" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:8px;margin-bottom:8px;" >
                    <input type="submit" value="Guardar" class="btn-success" />
                </div>
            </form>
        </div>
    </div>
    </div>
<div>
    <a asp-action="Index" class="btn-success" style="border:groove">Regresar a La Lista</a>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
